// ====================
//      MIXIN
// ==============================
mixin mixin_mallet
  svg(viewbox="0 0 401 360.3")
    path(d="M199.7,273.2c93.2-1.6,151.2-29.6,176.1-45c9.2-8.8,14.3-18.5,14.3-28.7c0-33.3-54.4-61.5-129.8-71.4l0-65.4\
    l-0.1,163.1c0,0-58,25.5-119.5,0v-97.8C65.3,138,11,166.3,11,199.5c0,11.5,6.5,22.4,18.1,32.1C55.5,248.4,111.4,274.7,199.7,273.2z\
    M341.7,181.9c32.9,27.9-37.5,45.3-37.5,45.3S374.7,209.8,341.7,181.9z M58.8,211.2c-32-29,39-44,39-44S26.8,182.2,58.8,211.2z")
    path(d="M260.2,225.9l0.1-163.1c0,0-12-51.3-59.8-51.3c-47.8,0-59.7,51.3-59.7,51.3v65.4v97.8\
    C202.2,251.3,260.2,225.9,260.2,225.9z")
    path(d="M200.5,274.7c-75.7,0-141-17.6-171.4-43.1C16.9,223.9,11,204.5,11,204.5v80.2c0,0,20.5,64.2,189.5,64.2\
    S390,284.7,390,284.7v-81.7c0,0-4.7,19.2-14.3,25.1C347.4,255.5,279.6,274.7,200.5,274.7z")
    path(d="M385.6,219c-24.5,23.3-92.7,52.6-185.9,54.2c-88.3,1.5-144.1-24.8-170.6-41.5c30.4,25.5,95.7,43.1,171.4,43.1\
    C279.6,274.7,357.2,246.3,385.6,219z")

// ====================
//      BODY
// ==============================
#air_hockey
  h1 Air Hockey
  .score SCORE: 0
  .game_box
    .background
    .circle_01
    .circle_02
    .dot
    .line_01
    .line_02
    .mallet.mallet_computer
      + mixin_mallet
    .puck
      svg(viewbox="0 0 402.5 198.9")
        path(d="M50.4,36.5C24.8,48.3,9.5,63.3,9.5,79.5C9.5,79.5,12.4,56.1,50.4,36.5z")
        path(d="M392.5,79.5c0-16.2-15.3-31.1-40.9-42.9C389.5,56.1,392.5,79.5,392.5,79.5z")
        path(d="M392.5,79.5c0,38.4-85.7,69.5-191.5,69.5S9.5,117.9,9.5,79.5c0,0-19.9,110.1,191.5,110.1\
        S392.5,79.5,392.5,79.5z")
        path(d="M201,10c61.1,0,115.5,10.4,150.6,26.6C324,22.3,277.9,10,201,10z")
        path(d="M50.4,36.5C85.5,20.3,139.9,10,201,10C124.1,10,78,22.3,50.4,36.5z")
        path(d="M201,149c105.8,0,191.5-31.1,191.5-69.5c0,0-2.9-23.3-40.9-42.9C316.5,20.3,262.1,10,201,10\
        S85.5,20.3,50.4,36.5C12.4,56.1,9.5,79.5,9.5,79.5C9.5,117.9,95.2,149,201,149z M201,43.1c69.4,0,125.7,16.3,125.7,36.3\
        c0,20.1-56.3,36.3-125.7,36.3S75.3,99.5,75.3,79.5C75.3,59.4,131.6,43.1,201,43.1z")
        path(d="M201,115.8c69.4,0,125.7-16.3,125.7-36.3c0-20.1-56.3-36.3-125.7-36.3S75.3,59.4,75.3,79.5\
        C75.3,99.5,131.6,115.8,201,115.8z M255.5,74c0,0,25.9,8.3-38.6,14.8C281.4,82.3,255.5,74,255.5,74z M182.1,69.3\
        c-64.3,7.5-38.4,15.4-38.4,15.4S117.7,76.7,182.1,69.3z")
    .mallet.mallet_player
      + mixin_mallet
    .infomation_box
      h2.infomation RULE: 
        br
        | You must use ⇦ ⇨
        br
        | on your keyboard
        br
        | to control the mallet.
      .btn_start(onclick="game_rule.countDown()") Start